Repository nascjoao/nascjoao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier, pnpm eslint

feat(i18n): integrate internationalization with next-intl
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/layouts/index.tsx
  src/pages/home/ui/home.tsx
  src/pages/home/ui/language-select.tsx
  src/shared/config/index.ts
  src/shared/config/locale.ts
  src/shared/i18n/en.json
  src/shared/i18n/index.ts
  src/shared/i18n/pt-br.json
  src/shared/i18n/request.ts
  src/shared/lib/cookies/index.ts
  src/shared/lib/cookies/locale.ts
  src/shared/models/index.ts
  src/shared/models/locale.ts
Due: pnpm prettier, pnpm eslint

feat(tests): add Vitest configuration and setup for testing React components
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/app/config/setup-tests.base.ts
  src/app/config/setup-tests.jsdom.ts
  src/app/config/vitest.config.mts
  src/pages/home/ui/home.test.tsx
  src/shared/i18n/request.test.ts
  src/shared/lib/cookies/locale.test.ts
  src/shared/lib/objects/flat.ts
  src/shared/lib/objects/index.ts
Due: pnpm prettier, pnpm eslint

feat(metadata): implement dynamic metadata generation for internationalization
  app/layout.tsx
  src/app/layouts/index.tsx
  src/shared/i18n/en.json
  src/shared/i18n/pt-br.json
Due: pnpm prettier, pnpm eslint

feat(analytics): integrate Google Analytics
  package.json
  pnpm-lock.yaml
  src/app/layouts/index.tsx
Due: pnpm prettier, pnpm eslint

fix(i18n): correct minor typo in Portuguese description
  src/shared/i18n/pt-br.json
Due: pnpm prettier

feat(config): add environment variable for website version
  next.config.ts
Due: pnpm prettier, pnpm eslint

feat(config): add website configuration constants
  src/shared/config/index.ts
  src/shared/config/website.ts
Due: pnpm prettier, pnpm eslint

feat(home): update header layout and add version link to GitHub releases
  src/pages/home/ui/home.tsx
Due: pnpm prettier, pnpm eslint

fix(language-select): enhance trigger button styles for better hover effect
  src/pages/home/ui/language-select.tsx
Due: pnpm prettier, pnpm eslint

feat(home): add quick note section and update styles for better theming
  src/pages/home/ui/home.tsx
  src/pages/home/ui/language-select.tsx
  src/shared/i18n/en.json
  src/shared/i18n/pt-br.json
Due: pnpm prettier, pnpm eslint

chore(pre-commit): remove test and coverage commands from pre-commit hook
  .husky/pre-commit
Due: none

chore: install next-themes, pixelarticons, tailwind-merge and svgr
  package.json
  pnpm-lock.yaml
Due: pnpm prettier

feat(svg): configure webpack for SVG handling and add TypeScript definitions
  next.config.ts
  src/app/models/svgr.d.ts
  tsconfig.json
Due: pnpm prettier, pnpm eslint

feat(vite): add vite-plugin-svgr for SVG handling in Vitest configuration
  package.json
  pnpm-lock.yaml
  src/app/config/vitest.config.mts
Due: pnpm prettier

feat(styling): add withHover HOC for hover styles and corresponding tests
  src/shared/lib/styling/index.ts
  src/shared/lib/styling/with-hover.test.tsx
  src/shared/lib/styling/with-hover.tsx
Due: pnpm prettier, pnpm eslint

feat(is-mounted): implement useIsMounted hook with HOC for conditional rendering
  src/shared/lib/client/index.ts
  src/shared/lib/client/is-mounted.test.tsx
  src/shared/lib/client/is-mounted.tsx
Due: pnpm prettier, pnpm eslint

fix(i18n): adjust line breaks in descriptions for better readability
  src/shared/i18n/en.json
  src/shared/i18n/pt-br.json
Due: pnpm prettier

feat(styles): enhance theming and utility classes for improved design consistency
  src/app/styles/globals.css
Due: pnpm prettier

feat(config): add STORAGE_THEME_KEY to website configuration exports
  src/shared/config/index.ts
  src/shared/config/website.ts
Due: pnpm prettier, pnpm eslint

feat(language-select): refactor LanguageSelect component to use withClientMounted for conditional rendering
  src/pages/home/ui/language-select.tsx
Due: pnpm prettier, pnpm eslint

feat(theme-toggle): implement ThemeToggle component with theme switching functionality
  src/app/layouts/index.tsx
  src/pages/home/ui/home.tsx
  src/pages/home/ui/theme-toggle.test.tsx
  src/pages/home/ui/theme-toggle.tsx
Due: pnpm prettier, pnpm eslint

feat(submodule): add content submodule for external project integration
  .gitmodules
Due: none

feat: add translation index generation script and post page
  app/blog/[slug]/page.ts
  app/favicon.ico
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-translations-map.ts
  src/app/config/setup-tests.jsdom.ts
  src/pages/home/ui/home.tsx
  src/pages/post/index.ts
  src/pages/post/lib/get-all-posts-slug.test.ts
  src/pages/post/lib/get-all-posts-slug.ts
  src/pages/post/lib/get-post-content.test.ts
  src/pages/post/lib/get-post-content.ts
  src/pages/post/lib/index.ts
  src/pages/post/ui/post.test.tsx
  src/pages/post/ui/post.tsx
  src/shared/config/index.ts
  src/shared/config/locale.ts
  src/shared/i18n/blog-posts-slugs-index.json
  src/shared/i18n/index.ts
  src/widgets/nav/index.ts
  src/widgets/nav/ui/language-select.tsx
  src/widgets/nav/ui/nav.tsx
  src/widgets/nav/ui/theme-toggle.test.tsx
  src/widgets/nav/ui/theme-toggle.tsx
Due: pnpm prettier, pnpm eslint

feat(i18n): update blog post slugs to remove date prefix
  src/shared/i18n/blog-posts-slugs-index.json
Due: pnpm prettier

test(flat): add unit test for flattening nested objects
  src/shared/lib/objects/flat.test.ts
Due: pnpm prettier, pnpm eslint

feat(i18n): add privacy policy and footer sections to English and Portuguese translations
  src/shared/i18n/en.json
  src/shared/i18n/pt-br.json
Due: pnpm prettier

feat(pricing-policy): add Privacy Policy page and related exports
  app/privacy-policy/page.ts
  src/pages/privacy-policy/index.ts
  src/pages/privacy-policy/ui/privacy-policy.tsx
Due: pnpm prettier, pnpm eslint

feat(footer): implement Footer component with privacy policy link and license information
  src/widgets/footer/index.ts
  src/widgets/footer/ui/footer.tsx
Due: pnpm prettier, pnpm eslint

fix(coverage): exclude additional paths from coverage report
  src/app/config/vitest.config.mts
Due: none

test(home): remove Home component tests
  src/pages/home/ui/home.test.tsx
Due: pnpm prettier, pnpm eslint

test(nav): add unit tests for language selection functionality
  src/widgets/nav/ui/nav.test.tsx
Due: pnpm prettier, pnpm eslint

refactor: replace Google Analytics with Umami and move Nav component to layout
  package.json
  pnpm-lock.yaml
  src/app/layouts/index.tsx
  src/pages/home/ui/home.tsx
  src/pages/post/ui/post.tsx
Due: pnpm prettier, pnpm eslint

chore: add pre-push hook to run tests and coverage checks
  .husky/pre-push
Due: none

fix: layout structure for Home, Post, and Privacy Policy pages to better footer alignment
  src/pages/home/ui/home.tsx
  src/pages/post/ui/post.tsx
  src/pages/privacy-policy/ui/privacy-policy.tsx
Due: pnpm prettier, pnpm eslint

chore: remove test command from pre-push hook, because coverage check runs test too
  .husky/pre-push
Due: none

fix: language select component colors in light theme and change its alignment
  src/widgets/nav/ui/language-select.tsx
Due: pnpm prettier, pnpm eslint

fix: add padding to Privacy Policy page
  src/pages/privacy-policy/ui/privacy-policy.tsx
Due: pnpm prettier, pnpm eslint

fix: add missing hover styles to version in navbar
  src/widgets/nav/ui/nav.tsx
Due: pnpm prettier, pnpm eslint

chore: bump version to 0.2.1
  package.json
Due: pnpm prettier

chore: remove unused withHover HOC and associated tests
  src/shared/lib/styling/index.ts
  src/shared/lib/styling/with-hover.test.tsx
  src/shared/lib/styling/with-hover.tsx
Due: pnpm prettier, pnpm eslint

Path conditions:
  pnpm prettier: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,md,css,scss,html})
  pnpm eslint: any of: **/*.{js,ts,tsx}
