Repository nascjoao/nascjoao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier, pnpm eslint, pnpm test:related

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": ["pnpm prettier", "pnpm eslint", "pnpm test:related"],
  "**/*.{json,md,css,scss,html}": ["pnpm prettier"]
}

chore: use overrides to force using vite's safe version
  package.json
  pnpm-lock.yaml
Due: pnpm prettier

feat: update version to 0.3.0, add react-tooltip dependency, and add easter feature
  package.json
  pnpm-lock.yaml
  src/app/layouts/index.tsx
  src/app/styles/globals.css
  src/pages/home/ui/home.tsx
  src/shared/assets/easter-bunny.gif
  src/shared/assets/index.ts
  src/shared/assets/multiple-bunnies.webp
  src/shared/i18n/en.json
  src/shared/i18n/pt-br.json
  src/widgets/footer/ui/bunnies.tsx
  src/widgets/footer/ui/footer.tsx
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add easter date check to hide bunnies after the event
  src/widgets/footer/ui/bunnies.tsx
Due: pnpm prettier, pnpm eslint, pnpm test:related

test: add unit tests for Bunnies component to verify Easter rendering logic
  src/widgets/footer/ui/bunnies.test.tsx
  src/widgets/footer/ui/bunnies.tsx
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add initial index.html file for redirecting to the new site
  index.html
Due: pnpm prettier

chore: remove content submodule and associated configuration
  .gitmodules
Due: none

chore: remove generate-translations-map script and clean up package.json
  package.json
  scripts/generate-translations-map.ts
Due: pnpm prettier, pnpm eslint, pnpm test:related

chore: remove pre-push hook for coverage checks
  .husky/pre-push
Due: none

chore: remove translation generation from build script
  package.json
Due: pnpm prettier

chore: add launch configuration for Next.js debugging
  .vscode/launch.json
Due: pnpm prettier

feat: create blog and add new post
  app/blog/[year]/[slug]/page.tsx
  app/blog/layout.tsx
  mdx-components.tsx
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/layouts/index.tsx
  src/pages/home/lib/get-latest-posts.ts
  src/pages/home/ui/home.tsx
  src/pages/posts/index.ts
  src/pages/posts/lib/generate-static-params.ts
  src/pages/posts/ui/posts-page.tsx
  src/posts/2025/now-i-have-a-blog.mdx
  src/posts/2025/welcome-post.mdx
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add .gitkeep to prevent Next.js from treating src/pages as Pages Router
  pages/.gitkeep
Due: none

feat: implement generateMetadata function and update PostPage
  app/blog/[year]/[slug]/page.tsx
  src/pages/posts/index.ts
  src/pages/posts/lib/generate-metadata.ts
  src/pages/posts/model/post-page-props.ts
  src/pages/posts/ui/posts-page.tsx
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add metadataBase to generateMetadata function
  src/pages/posts/lib/generate-metadata.ts
Due: pnpm prettier, pnpm eslint, pnpm test:related

chore: update version to 0.6.0 in package.json
  package.json
Due: pnpm prettier

fix: add ToPostDate component for displaying relative post dates
  src/pages/home/ui/home.tsx
  src/pages/home/ui/to-post-date.tsx
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add git submodule for blog content
  .gitmodules
Due: none

chore: clean up .gitignore by removing unnecessary entries and organizing ignored files
  .gitignore
Due: none

feat: add initial Hugo site structure with templates and JavaScript for post date formatting
  archetypes/default.md
  assets/js/features/posts/format-post-datetime-ago.js
  assets/js/lib/date/time-ago.js
  assets/jsconfig.json
  assets/main.js
  hugo.toml
  layouts/_partials/head.html
  layouts/baseof.html
  layouts/home.html
Due: pnpm prettier, pnpm eslint, pnpm test:related

feat: add styles and meta tags to head partial for improved layout and SEO
  layouts/_partials/head.html
Due: pnpm prettier

feat: add description parameter to hugo.toml for enhanced site information
  hugo.toml
Due: none

feat: add IBM Plex Mono and Sans font files for improved typography
  static/fonts/ibm-plex-mono-v20-latin-700.woff2
  static/fonts/ibm-plex-mono-v20-latin-regular.woff2
  static/fonts/ibm-plex-sans-v23-latin-700.woff2
  static/fonts/ibm-plex-sans-v23-latin-regular.woff2
Due: none

feat: add SCSS files for typography, fonts, and base styles
  assets/scss/abstracts/_variables.scss
  assets/scss/base/_base.scss
  assets/scss/base/_fonts.scss
  assets/scss/base/_reset.scss
  assets/scss/base/_typography.scss
  assets/scss/main.scss
Due: pnpm prettier
